.about_grid_title {
    display: grid;
    grid-area: title;
}
.about_grid_image {
    display: grid;
    grid-area: image;
}
.about_grid_description {
    display: grid;
    grid-area: description;
}