.about_card, .service_card {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 0 55px 0;
    text-align: center;    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .service_card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "title image" "description image";
    }
    .about_card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title image" "description description";
    }
}
