.service_text_wrapper {
    text-align: center;
    vertical-align: middle;    
}
.service_title {
    font-size: 35px;
    margin-top: 25px;
}
.service_description {
    width: 75%;
    margin: auto;
}
.service_image {
    margin: auto;        
    display: block;
    padding: 0px;
    border-radius: 12px;
}
.service_wrapper {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.service_card {
    margin-top:15px;
    overflow: hidden;
}
/* media query for desktop size screens - min-width */
@media only screen and (min-width: 768px) {
    .service_title {
        font-size: 50px;
    }
    .service_image_wrapper {
        padding-left:0px;
    }
    .service_card {
        height: 475px;        
    }
    .service_image {
        border-radius: 12px;
        margin-top: 45px;
        padding: 0px;
    }
}