.grid_title {
    grid-row: 1/2;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_description {
    grid-row: 2/3;
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_image {
    grid-row: 1/3;
    border-radius: 12px;
    margin-top: 45px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media query for desktop size screens - min-width */
@media only screen and (min-width: 768px) {
    .service_title {
        font-size: 50px;
    }
    .service_image_wrapper {
        padding-left:0px;
    }
    .service_card {
        height: 475px;        
    }
    .service_image {
        border-radius: 12px;
        margin-top: 45px;
        padding: 0px;
    }
}